---
import "@/base.css";
import Clock from "@c/Clock.vue";
import ClockSwitcher from "@c/ClockSwitcher.vue";
import FontSwitcher from "@c/FontSwitcher.astro";
import SettingsButton from "@c/settings/SettingsButton.vue";
import SettingsPanel from "@c/settings/SettingsPanel.vue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="A simple Pomodoro app, a challenge by Frontend Mentor." />
    <meta name="robots" content="all" />
    <title>Pomodoro</title>

    <meta property="og:title" content="Pomodoro" />
    <meta property="og:description" content="A simple Pomodoro app, a challenge by Frontend Mentor." />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Roboto+Slab:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="preload"
      as="style"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Roboto+Slab:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="flex h-fit min-h-screen flex-col items-center justify-between bg-dark-blue px-6 py-8 pb-12 text-white md:py-20">
    <SettingsPanel client:load />
    <FontSwitcher />

    <div class="flex w-full flex-col gap-12">
      <img src="/logo.svg" alt="Logo of this app, which is just a piece of text saying pomodoro." class="h-8 object-contain" />
      <ClockSwitcher client:load />
    </div>

    <Clock client:load />
    <SettingsButton client:load />
  </body>
</html>
